<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
   
    background-image: url("{{ url_for('static', filename='pp.jpg') }}");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
  } 
    
    .register-card {
      margin-top: 150px;
      margin-bottom: 200px;
      box-shadow: 3 14px 80px rgba(152, 118, 118, 0.1);
      border-radius: 10px;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card register-card">
        <div class="card-body p-8">
          <h2 class="text-center mb-4">Department of Data Science</h2>
          
          <form action="/login" method='POST' >
            <div class="mb-3">
              <label for="emailAddress" class="form-label">Email address</label>
              <input type="email" class="form-control" id="emailAddress" name="email" placeholder="Enter your e-mail" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required >
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>